{{ define "main" }}
    <main aria-role="main">
        <div>
            <h1 class="hplogo">
                {{ .Site.Title }}
            </h1>

            <p>
                <span class="highlight">Alterneering Studios</span> is a London based speculative design studio that engineers alternatives by bringing them to life. We do this by creating realities with their own logic, norms, characters and stories. Within these, we design user-led artefacts with the tools and technologies available to us today. We aim to create moments of doubt to influence the perception of existing products, services and systems.
            </p>

            <p>
                Founded by <span class="highlight">Nicole Stoll</span>, <span class="highlight">Luca Milan</span> and <span class="highlight">Miles Mayr</span>, we combine different backgrounds in the field of human-centred design to explore future possibilities.
            </p>

            <ul class="initiatives">
                <li>
                    <span class="init-alterneering">Alterneering playbook</span>
                </li>
                <li>
                    <span class="init-abrieffuture">A brief future</span>
                </li>
            </ul>

            <p>
              We are currently hosting a series of <span class="highlight">workshops</span>to craft our speculative design playbook using a mix of original and established tools and methods. To launch into alternative realities, we designed a digital tool to create randomized design challenges.
            </p>
            <p><span class="highlight">↠ a brief future ⍌ Coming soon ⍓</span></p>
            
            <div id="piramid">
              
            </div>

            <p>
              We strongly believe in collaboration, and we constantly develop our playbook by talking, interacting and playing with various groups.
            </p>
            <div class="contacts">
              <p>Get in touch</p>
              <ul>
                  <li><a href="mailto:hq@alterneering.com" rel="noopener" target="_blank" >Email</a></li>
                  <li><a href="https://twitter.com/alterneeringhq" target="_blank" rel="noopener">Twitter</a> </li>
                  <li><a href="https://www.instagram.com/alterneeringstudios" target="_blank" rel="noopener">Instagram</a></li>
              </ul>
            </div>
            
            <!-- {{ partial "menu.html" . }} -->
        </div>
    </main>
{{ end }}
